@charset "UTF-8";

*{
  font-family: "Avenir Next", "Century Gothic", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif,'Nanum Gothic Coding', monospace;
  letter-spacing: 1px;
  }

.header{
  height: 100px;
  display: block;
  width: 100%;
  border: 0;
}

video#bgvideo {
    position: fixed;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(https://nrsplus.com/ext/bg-still.jpg) no-repeat;
    background-size: cover;
    }
    
/* 동영상 위 글씨 */
.vid-text {
  /* margin: 60px 100px 0px 100px; */
  position: fixed;
  top: 20%;
  left: 4%;
  max-width: 55%;
  vertical-align: middle;
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
  padding: 2% 3%;
  background-color: rgba(46, 39, 39, 0.219);
}
.vid-h1{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold
}
.vid-h2{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 800;
}
.vid-h3{
  font-size: 15px;
  margin-bottom: 50px;
  font-weight: 600;
  line-height: 150%;
  font-weight: 200;
}

/* 버튼 */
.vid-txt-1 {
  position: fixed;
  left: 49%;
  top: 67%;
  width: 56%;
}

.vid-txt-1 div {
  padding: 4% 4%;
  background-color: rgb(0, 0, 85);
  /* opacity: 80%; */
  width: 30%;
  display: inline-block;
  margin-right: 14px;
  cursor: pointer;
  border-radius: 40px;
}
.vid-txt-1 :hover{
  cursor: pointer;
  background-color: rgb(18, 20, 43);
  /* opacity: 80%; */
  z-index: 100;
}

.vid-txt-1 a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(247, 232, 211);
}

/* foot3 */
.language {
  background-color: rgb(255, 252, 250);
  padding: 6px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  text-align: left;
  position: fixed;
  
}


body{
    overflow:hidden;
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(26, 26, 26);
    opacity: 0.7;
}

#logoimg{
    padding-top: 10px;
    padding-left: 15px;
    height: 45px;
    width: 45px;
    text-align: left;
}
span{
   font-size: 30px;
   color: white;
}
b{
    
    position: fixed;
    margin: 13px 10px;
}

.lan{
    color:rgb(26, 26, 26);
    opacity: 0.7;
    font-size: 7px;
    text-align: left;
    margin-left: 10px;
    width: 480px;
  }
