@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*
*{
  font-family: "Avenir Next", "Century Gothic", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif,'Nanum Gothic Coding', monospace;
  letter-spacing: 2px;
  }
*/
.header{
  height: 100px;
  display: block;
  width: 100%;
  border: 0;
}

video#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(https://nrsplus.com/ext/bg-still.jpg) no-repeat;
    background-size: cover;
    }
    
/* 동영상 위 글씨 */
.vid-text {
    /* margin: 60px 100px 0px 100px; */
    position: fixed;
    top: 17%;
    left: 19%;
    width: 50%;
    height: 39%;
    vertical-align: middle;
    color: #fff;
    /* border: 2px solid rgb(250, 244, 244); */
    padding: 2% 7%;
    background-color: rgba(39, 38, 38, 0.4);
    text-align: center;
}
.vid-h1 {
    font-family: Raleway;
    /* font-family: "Taviraj", serif; */
    font-size: 89px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 13%;
}
.vid-h2 {
    font-family: Raleway;
    font-size: 32px;
    margin-bottom: 8%;
    font-weight: 600;
}
.vid-h3 {
	font-family: Raleway;
    font-size: 25px;
    margin-bottom: 0%;
    font-weight: 300;
    line-height: 150%;
    font-weight: 200;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* 버튼 */
.vid-txt-1 {
    font-family: Raleway;
    /* position: fixed; */
    position: absolute;
    left: 0%;
    top: 107%;
    width: 104%;
}
.button {
    box-sizing: border-box;
    display: table;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    transition: background 0.5s;
    cursor: pointer;
    float: left;
    margin-right: 40px;
    /* border-radius: 20px; */
}
.button span {
    width: 706px;
    height: 74px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #e0e1e6;
    /* box-shadow: 0 0 0 3px #bbbec9 inset; */
    background: rgba(8, 8, 8, 0.48);
    /* border-radius: 10px; */
}

.button .away {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
}
.button .over {
  display: none;
  
  
}
.button:hover span.away {
  display: none;
  
}
.button:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  box-shadow: none;
  
  
}
.button:hover {
  background-color: rgb(36, 30, 63);
  border-radius: 10px;
}

/* foot3 */
.language {
  background-color: rgb(255, 252, 250);
  padding: 6px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  text-align: left;
  position: fixed; 
}


.lan {
  color: rgb(26, 26, 26);
  opacity: 0.7;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin: auto;

  margin-bottom: 6px;
}
/* .lan2{
  color: rgb(26, 26, 26);
  opacity: 0.7;
  font-size: 15px;
  text-align: center;
  margin: auto;
} */


body{
    overflow:hidden;
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(26, 26, 26);
    opacity: 0.7;
}

#logoimg{
    padding-top: 10px;
    padding-left: 15px;
    height: 45px;
    width: 45px;
    text-align: left;
}

b{
    
    position: fixed;
    margin: 13px 10px;
}

