@charset "UTF-8";

body {
    padding-top: 4.7rem;
    color: #333;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: "Roboto", sans-serif;
}
.register {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.register .left {
    border-radius: 5px 5px 2px #333;
    display: block;
    /* position: relative; */
    height: 500px;
    z-index: 10;
}
.register .left .order-window {
    background: rgba(0, 0, 0, 0.068);
    border: solid 1px black;
    height: 80vh;
    overflow-y: scroll;
    font-size: 20px;
    padding: 0;
    margin-right: 10px;
}
.register .left .order-window table {
    width: 100%;
    border-collapse: collapse;
}
.register .left .order-window table tr {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    overflow-x: hidden;
}
.register .left .order-window table tr td {
    border: 0;
    padding: 10px;
    text-align: center;
}

.register .left .order-window table tr td:nth-child(3) {
    display: grid;
    justify-content: center;
}
.register .left .order-window table tr td:nth-child(4) {
    display: grid;
    justify-content: center;
}
.register .left .order-window table tr:nth-child(even) {
    background-color: #fff;
}
.register .left .order-window table tr:nth-child(odd) {
    background-color: #eee;
}
.register .left .order-window table tr:first-child {
    color: #3a3939;
    font-weight: bold;
    background-color: rgba(121, 157, 181, 1);
    border-top: white 1px solid;
    position: sticky;
    top: 0px;
}

pre {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 26px;
    margin-right: 1px;
}

.register .left .order-total {
    /* background: burlywood; */
    background-color: rgba(21, 22, 21, 0.692);
    height: 15vh;
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 550px; */
    font-family: cursive;
    border: solid 1px black;
    /* margin-right: 10px; */
    margin-right: 10px;
    margin-top: 2px;
}

.register .left .buttons {
    display: grid;
    height: 55vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #d5d5d5;
}

.register .left .buttons button {
    background-color: #eee;
    padding: 0;
    margin: 0.5px;
    border: 0;
    border-radius: 2px;
}
.register .left .buttons :hover {
    background-color: #d5d5d5;
}
.register .right {
    background-color: white;
    position: relative;
    z-index: 5;
}



.register .right .menu-items {
    height: 80vh;
}
.register .right .menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80vh;
    overflow-y: scroll;
}
.register .right .menu-items ul li {
    height: 17vh;
    background: #f1efefa3;
    margin: 10px;
    display: flex;
    color: #2b2b2be0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: black 1px solid;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 8px #888888;
}
.register .right .menu-items ul li i {
    background: #236c9c;
}
.register .right .menu-items ul li .item {
    font-weight: bold;
    text-align: center;
}
.register .right .menu-items ul li .category {
    font-style: oblique;
}
.register .right .menu-items ul :hover {
    background: #e4e3e3;
}
.register .right .payment-keys ul {
    padding: 10px 10px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 14vh;
    background: rgba(18, 71, 45, 0.582);
    color: #fff;
    transition: all 0.5s;
    filter: hue-rotate(0deg);
    border-radius: 5px;
    margin-top: 2px;
    
}
.register .right .payment-keys ul li {
    border: black 1px solid;
    flex: 1;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 15px; */
    
}
.register .right .payment-keys ul :hover {
    filter: hue-rotate(135deg);
    background-color: rgba(18, 71, 45, 0.459);
}

#orderlist{
    background: rgba(121, 157, 181, 1);
}

#payment{
    background-color: rgb(100,141,209);
}


.fa-sort-down{
    left: 0;
    margin-left: 10px;
}


  